

<div class="contactCard">
<li data-id="{{ _id }}">

  <div id="fullName" class="fullName"> {{ lastName }}, {{ firstName }}<span id="remove" class="remove">X</span></div>

  <div class="email">{{ email }} </div>
  <div class="tagDiv"><a id="emailTag" href="#" class="tag">email</a></div>

  <div class="linkedin">{{ linkedin }} </div>
  <div class="tagDiv"><a href="#" id="linkedinTag" class="tag">linkedin</a></div>

  <div class="social">
  <div class="twitter">{{ twitter }} </div>
  <div class="phoneNumber">{{ phoneNumber }} </div>
  </div>
  <div class="tagDiv">
  <a href="#" id="twitterTag" class="tag">twitter</a>
  </div>

  </li>
</div>
